doctype 5
html(lang="en")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    != css('style')
    != css("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    block stylesheets

    if currentUser
      script(type='text/javascript')
        window.currentUserId = "#{currentUser._id}";
  body
    .container
      .navbar.navbar-inverse.navbar-fixed-top
        a.navbar-brand(href='/')
          span.logo # 
          span Tic Tac Toe
          sup 3

        if currentUser
          ul.nav.navbar-nav.pull-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle="dropdown")
                .media-object.pull-left(style='margin: -8px 5px 0 -7px;')
                  img(src=currentUser.avatar)
                span= currentUser.name
                b.caret
              ul.dropdown-menu(style='width: 100%')
                li
                  a(href='/users/' + currentUser._id)
                    i.icon-fixed-width.icon-user
                    span Profile
                li
                  a#logout(href='#')
                    i.icon-fixed-width.icon-off
                    span Logout
        else
          ul.nav.navbar-nav.pull-right
            li
              a(href='/sessions/new') Have an account? <strong>Sign in</strong>

        ul.nav.navbar-nav
          if currentUser
            li(class=activeNav('dashboard'))
              a(href='/dashboard')
                i.icon-fixed-width.icon-gamepad
                span Dashboard
            li(class=activeNav('games'))
              a(href='/games')
                i.icon-fixed-width.icon-gamepad
                span Games
          else
            li(class=activeNav('contact'))
              a(href="/contact")
                i.icon-fixed-width.icon-envelope
                span Contact
    .container
      .col-4.center
        if flash
          .alert.alert-block(class=('alert-' + flash.type))
            button.close(type='button', data-dismiss='alert') &times;
            = flash.message
      block content
    .navbar.navbar-fixed-bottom
      p.navbar-text.text-center
        span &copy; 
        a(href='http://tictactoecubed.com') TicTacToeCubed
        br
        span.
          Designed and built by <a href='http://twitter.com/dhruvasagar'
          target='_blank'>@dhruvasagar</a>
    script(src="/js/jquery.js")
    script(src="/js/knockout.js")
    script(src="/js/bootstrap.js")
    script(src="/socket.io/socket.io.js")
    != js('app')
    include ga
    block scripts
